* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body ,html{
    overflow-x: hidden;
  }



  .header-section {
    height: 95px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(74, 44, 104);
  }
  .logo img {
    width: 45%;
    height: 65%;
    margin-top: 6px;
    filter: brightness(0) invert(1);
  }
  .text {
    font-size: 11px;
    color: white;
    margin-left: 6px;
    margin-top: 7px;
    font-family: sans-serif;
    text-wrap: nowrap;
  }
  .text h1 {
    font-size: 1rem;
  }
  .logo {
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
  }
  .navbar {
    margin-right: 230px;
  }
  .navbar ul {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    text-wrap: nowrap;
  }
  ul li {
    list-style: none;
  }
  ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 550;
    font-family: "poppins", sans-serif;
  }

  .container{
    display: flex;
    flex-direction: row;
    background-color:white;
    height: 500px;
    
}
.sub-cont1{
    background-color:  rgb(200, 190, 212);
    width: 60%;
    height: 300px;
    padding: 60px 30px;
    border-radius: 20px;
    margin: 90px;
}
  .sub-cont2{
    height: 500px;
  }



.block{
    margin: 20px;
    padding: 30px;
    width:90%;
    height: 140px;
    background-color: #929b9c6b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;

}
.event-head h2{
    font-size: 2.5rem;
    padding-inline: 17px;
    width: 150%;
    position: relative;
    bottom: 27px;
}
.event-para p{
    font-size: 0.8rem;
    padding-inline: 18px;
    width: 110%;
    color:azure;
    position: relative;
    bottom: 10px;
    line-height: 20px;
}
.date{
    font-size: 1.5rem;
    background-color: rgb(200, 190, 212);
    width: 90%;
    height: 140px;
    color: azure;
    position: relative;
    bottom: 30px;
    left: -30px;
    padding: 20px;
}
.date h1{
    font-size: 2.5rem;
    padding-inline: 40px;
}
.date h2{
    padding-inline: 20px;
}
.details{
    padding: 0;
    margin: 0;
}
.info h4{
    font-size: 1.5rem;
    position: relative;
    bottom: 13px;
    right: 50px;
}
.inform p{
    font-size: 0.8rem;
    position: relative;
    right: 40px;
    color: rgb(49, 94, 94);
    bottom: 10px;
}
.button a{
    text-decoration: none;
    position: relative;
    right: -3px;
    font-size: 12px;
    color:  rgb(49, 94, 94);
}
.button{
    border: 1px solid rgb(49, 94, 94);
    position: relative;
    right: 40px;
    width: 18%;
    top: -5px;
}


.purplesection {
    background-color: white;
    width: 100%;
    height: 880px;
    position: relative;
    top:0px;
  }
  .events1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .pro-girl img {
    width: 55%;
    height: 100%;
    position: relative;
    left: 160px;
    top: 127px;
    border-radius: 25px;
  }
  .events-head h3 {
    font-family: sans-serif;
    font-size: 2.3rem;
    margin-left: 70px;
    position: relative;
    top: 90px;
    padding: 10px;
  }
  
  
  .paragraph {
    position: relative;
    top: 150px;
    right:40px;
    font-family: sans-serif;
  }
  .paragraph h5 {
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    bottom: 10px;
    padding: 10px;
    color: rgb(110, 98, 98);
  }
  .pp {
    font-size: 17px;
    color: grey;
    padding: 10px;
    position: relative;
    bottom: 10px;
    width: 70%;
    line-height: 25px;
  }
 
  .address {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .address h6 {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 550;
    margin-left: 12px;
    color: rgb(238, 181, 76);
  }
  .ticket {
    position: relative;
    top: 20px;
  }
  .address p {
    width: 100%;
    height: 39%;
  }
  .submit1 a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    padding: 10px;
    position: relative;
    top: 0px;
    font-weight: 550;
    left: 4px;
  }
  .submit1 {
    width: 16%;
    height: 40px;
    background-color: rgba(246, 138, 43, 0.5);
    border-radius: 20px;
    position: relative;
    bottom: -10px;
    left: 30px;
    border: none;
  }
  button2[type="submit"] {
    transition: background-color 0.3s ease;
  }
  button2[type="submit"]:hover {
    background-color: rgba(235, 54, 54, 0.781);
  }
  
  .events2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:  rgb(69, 60, 80);
    height: 310px;
    width: 80%;
    position: relative;
    top: 180px;
    left: 130px;
    border-radius: 23px;
  }
  
  
  .pro-boy img {
    width: 120%;
    height: 79%;
    position: relative;
    left: 540px;
    top: 35px;
    border-radius: 25px;
  }
  .paragraph1 {
    position: relative;
    top: 45px;
    right: 550px;
    font-family: sans-serif;
    width: 45%;

  }
  .paragraph1 h5 {
    font-size: 1.4rem;
    font-weight: 500;
    position: relative;
    bottom: 10px;
    padding: 10px;
    color: white
  }
  .pp1 {
    font-size: 15px;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 10px;
    width: 85%;
    line-height: 25px;
  }
 
  .address1 {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .address1 h6 {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 550;
    margin-left: 12px;
    color: wheat;
  }
  .ticket1 {
    position: relative;
    top: 20px;
  }
  .address1 p {
    width: 100%;
    height: 39%;
  }
  .submit2 a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 13px;
    color: white;
    padding: 10px;
    position: relative;
    top: 0px;
    font-weight: 550;
    left: 4px;
  }
  .submit2 {
    width: 24%;
    height: 40px;
    background-color: rgba(246, 138, 43, 0.5);
    border-radius: 20px;
    position: relative;
    bottom: -40px;
    left: 0px;
    border: none;
  }
  button2[type="submit"] {
    transition: background-color 0.3s ease;
  }
  button2[type="submit"]:hover {
    background-color: rgba(235, 54, 54, 0.781);
  }
  .nyc{
    color: rgb(240, 169, 37);
    width: 70%;
  }
  .ticket-fee{
    color: rgb(240, 169, 37);
    position: relative;
    top: 25px;
  }
  .nyc1{
    color: rgb(240, 169, 37);
    width: 260%;
  }
  .ticket-fee1{
    color: rgb(240, 169, 37);
    position: relative;
    top: 25px;
  }

  .sub-footer {
    display: flex;
    flex-direction: row;
    
    gap: 140px;
    position: relative;
    right: -140px;
   bottom: 280px;
  }
  
  .sf1 {
    position: relative;
    top: 180px;
    left: 600px;
    width: 60%;
  }
  .sf2 img {
    width: 0;
    position: relative;
    top: 250px;
    left: -390px;
  }
  .sf1 h6 {
    font-family: sans-serif;
    font-size: 1.4rem;
    font-weight: 550;
    color: rgb(87, 68, 68);
  }
  .sf1 p {
    color: grey;
    font-family: sans-serif;
    font-size: 15px;
  }
  .p1 {
    position: relative;
    top: 24px;
    width: 260%;
    font-size: 30px;
  }
  .p2 {
    position: relative;
    top: 70px;
    width: 260%;
  }
 
  .lines {
    width: 40%;
    height: 0.5px;
    background-color: rgba(115, 201, 182, 0.548);
    position: relative;
    top: 47px;
  }
  .time {
    position: relative;
    left: 15px;
  }
  .sf2 {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 430px;
    bottom: 45px;
  }
  
  .img1 img {
    width: 25%;
    position: relative;
    left: -10px;
    background-color: rgb(74, 44, 104);
    padding: 5px;
    border-radius: 200px 200px;
    bottom: 30px;
  }
  .img2 img {
    width: 25%;
    position: relative;
    right: 0px;
    left: -200px;
    background-color: rgb(74, 44, 104);
    padding: 5px;
    border-radius: 200px;
  }
  .img3 img {
    width:26%;
    position: relative;
    background-color: rgb(74, 44, 104);
    padding: 5px;
    border-radius: 100px;
  }
  .sf2 p {
    position: relative;
    top: 300px;
    right: 500px;
    line-height: 27px;
    font-family: sans-serif;
    font-size: 18px;
  }
  .sf2 p span {
    color: gray;
  }
  .sf2 p {
    color: rgb(87, 68, 68);
  }

  .logo1 img {
    width: 3.5%;
    height: auto;
    margin-top: 6px;
    position: relative;
    

  }
  .text1 {
    font-size: 8px;
    color: rgb(59, 57, 57);
    margin-left: 6px;
    margin-top: 7px;
    font-family: sans-serif;
    text-wrap: nowrap;
  }
  .text1 p {
    font-weight: 600;
  }
  .logo1 {
    display: flex;
    margin-left: 50px;
    margin-top: 100px;
    position: relative;
    right: -100px;
    top: 3px;

  }

  .p3 {
    position: relative;
    width: 200%;
    top: 330px;
    line-height: 22px;
    right:  900px;
   color: grey;
    font-family: sans-serif;
    font-size: 15px;
  }
  @media screen and  (min-width:320px) and (max-width:480px){
    .header-section{
      width: 100%;
      height: 5rem;
  }
  .navbar{
      margin-right: 262px;
  }
  
      .logo{
      position: relative;
      top: -18px;
      left: -48px;
     width: 80px;
     height: 115%;
   }
   .logo img {
      width: 53%;
      height: 38%;
   }
   .text{
      font-size: 7px;
      position: relative;
      top: 5px;
   }
   .text h1{
      font-size: 85%;
   }
   ul li a{
      font-size: 68%;
   }
   .navbar ul{
      position: relative;
      bottom: -7px;
      left: -68px;
   }
   @media screen and (min-width: 410px) and (max-width: 480px){
      .navbar ul{
          position: relative;
         bottom: 25px;
         left: 30px;
      
      }
   .logo img{
      width:100%;
   }
    
  }

  .container{
    display: flex;
    flex-direction: column;
  }
  .sub-cont1 {
    margin: 39px;
    margin-left: 26px;
    width: 89%;
    margin-top: 13px;
    height: 212px;
}
.sub-cont2{
  margin-top: 15px;
}
  .event-head h2 {
    font-size: 4vw;
    padding-inline: 0px;
    width: 175%;
    position: relative;
    bottom: 39px;
}

.event-para p {
  font-size: 3vw;
  padding-inline: 0px;
  width: 107%;
  color: azure;
  position: relative;
  bottom: 28px;
  line-height: 19px;
}
.block {
  margin: 20px;
  padding: 30px;
  width: 92%;
  height: 68px;
  background-color: #929b9c6b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 60px;
  margin-top: -18px;
  margin-bottom: 28px;
}
.date{
  width: 34%;
    height: 68px;
    color: azure;
    position: relative;
    bottom: 30px;
    left: -30px;
    padding: 0px;
    padding-top: 18px;

}
.date h1{
  font-size: 4vw;
}
.date h2 {
  padding-inline: 35px;
  font-size: 2vw;
}

.info h4 {
  font-size: 3vw;
  position: relative;
  bottom: 22px;
  right: 77px;
  width: 163%;
}
.inform p {
  width: 145%;
  font-size: 1.4vw;
  position: relative;
  right: 72px;
  color: rgb(49, 94, 94);
  bottom: 22px;
  line-height: 7px;
}
.button {
  border: 1px solid rgb(49, 94, 94);
  position: relative;
  right: 71px;
  width: 37px;
  top: -17px;
  height: 12px;
}
.button a{
  font-size: 20%;
  bottom: 7px;
}

.events1 {
  flex-direction: column;
}
.events-head h3 {
  font-size: 1.5rem;
  margin-left: 32px;
  position: relative;
  top: 41px;
}
.pro-girl img {
  width: 62%;
  height: 131px;
  position: relative;
  left: 47px;
  top: 55px;
}

.paragraph {
  position: relative;
  top: 111px;
  right: 138px;
  font-family: sans-serif;
}
















.paragraph h5 {
  font-size: 1.5rem;
  font-weight: 545;
  position: relative;
  bottom: 46px;
  padding: 10px;
  color: rgb(110, 98, 98);
  right: -172px;
  width: 80%;
  line-height: 33px;
}
.pp {
  left: 175px;
  font-size: 13px;
  color: grey;
  padding: 10px;
  position: relative;
  bottom: 59px;
  width: 80%;
  line-height: 22px;
}

.address h6 {
  margin-top: -11px;
  position: relative;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: 550;
  margin-left: -48px;
  color: rgb(54, 50, 50);
  right: -228px;
  bottom: 27px;
}
.address p {
  width: 158%;
}
.nyc {
  width: 129%;
  height: 39%;
  position: relative;
  right: -111px;
  bottom: 16px;
  color: grey;
  line-height: 30px;
  font-size: 0.8rem;
}
.ticket-fee {
  position: relative;
  right: -234px;
  color: grey;
  top: -2px;
}
.submit1 {
  width: 33%;
  height: 29px;
  background-color: rgba(246, 138, 43, 0.5);
  border-radius: 20px;
  position: relative;
  margin-left: -84px;
  margin-top: 50px;
}
.purplesection {
  height: auto;
  margin-bottom: 172px;
}
.events2 {
  top: 200px;
  left: 24px;
  height: auto;
  flex-direction: column;
  width: 84%;
}
.lines {
  width: 204px;
}
.pro-boy img {
  width: 72%;
  height: 9rem;
  position: relative;
  left: 39px;
  
}

.paragraph1 h5 {
  font-size: 1.5rem;
  font-weight: 545;
  position: relative;
  bottom: -16px;
  padding: 10px;
  color: rgb(110, 98, 98);
  right: 66px;
  width: 30%;
  line-height: 33px;
}
.pp1 {
  font-size: 13px;
  color: grey;
  padding: 10px;
  position: relative;
  bottom: 3px;
  width: 217%;
  line-height: 28px;
  right: 66px;
}
.address1{
  margin-top: 20px;
}
.address1 h6 {
  margin-left: -57px;
  position: relative;
  bottom: 14px;
  margin-top: 5px;
}
.paragraph1 {
  position: relative;
  top: 14px;
  right: -85px;
}
.nyc1 {
  color: gray;
  position: relative;
  left: -116px;
  bottom: -16px;
  font-size: 0.8rem;
}
.address1 p {
  width: 271%;
  margin-bottom: -20px;
}
.ticket-fee1 {
  left: -17px;
  position: relative;
}
.submit2 a {
  font-size: 11px;
}
.submit2 {

  margin-left: -281px;
  width: 92%;
  height: 28px;
  background-color: rgba(246, 138, 43, 0.5);
  border-radius: 20px;
  position: relative;
  margin-top: 100px;
  top: -17px;
}
 
}